@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';
@import 'reset';

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
  gap: rem(20);
}

.card-blog {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  padding: rem(20);
  border-radius: rem(10);
  background: var(--card);
  box-shadow: var(--shadow);
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;    

    &-date {
      color: var(--text-3);
    }

    &-tag {
      padding: rem(5) rem(10);
      border-radius: rem(5);
      background: var(--card-tag);
      box-shadow: var(--shadow);
    }
  }

  p {
    line-height: 1.4;
  }

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: rem(10);
    padding: rem(12) rem(16);
    color: var(--text-1);
    width: fit-content;
    background-color: var(--btn);
    border-radius: rem(5);
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
    font-size: rem(16);
    font-weight: 700;
    margin-top: auto;

    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }
}




