@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';

.section-about-me{  

  &__introduction{
    display: flex;
    flex-direction: column;
    gap: rem(12.5);
    margin-bottom: rem(25);
  }
}

.tabs {
  display: flex;
  width: fit-content;
  flex-flow: nowrap;
  padding: rem(10) rem(10);
  align-items: center;
  gap: rem(10);
  border-radius: rem(10);
  background: var(--tab);
  box-shadow: var(--shadow);
  margin-bottom: rem(25);
}

.tab-button__about {
  display: flex;
  padding: rem(12) rem(18);
  justify-content: center;
  align-items: center;
  border-radius: rem(12);
  border: none;
  background: none;
  cursor: pointer;
}

.tab-button__about.active {
  box-shadow: var(--shadow);
  background: var(--tab-btn);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: grid;
}

.tab-content-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: rem(20);
}

.card-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: rem(20);
  padding: rem(20);
  border-radius: rem(10);
  background: var(--card);
  box-shadow: var(--shadow);

  .card-about__header {
    display: flex;
    gap: rem(20);
    align-items: center;

    img {
      width: rem(48);
      height: rem(48);
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: rem(10);
    }

    p {
      font-weight: 700;
    }

    p>a {
      font-size: rem(20);
      color: var(--ancent);
    }

    span {
      font-size: rem(16);
      color: var(--text-3);
    }
  }


  .card-about__btn {
    grid-column: 2 /span 1;
    grid-row: span 1;
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: rem(10);
    padding: rem(12) rem(16);
    color: var(--text-1);
    background-color: var(--btn);
    border-radius: rem(5);
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
    font-size: rem(16);
    font-weight: 700;
    width: fit-content;
    margin-top: auto;

    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }
}

/* Experiencia */
.tab-content-2 {
  display: flex;
  flex-direction: column;
  gap: rem(50);

  hr {
    border: 1px solid var(--ancent-lighter);
  }
}

.card-exp {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  &__header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: rem(10);

    img{
      height: rem(48);
      width: rem(48);
    }

    p {
      font-weight: 700;
    }

    p>a {
      font-size: rem(20);
      color: var(--ancent);
    }

    span {
      font-size: rem(16);
      color: var(--text-3);
    }

    &-text{
      display: flex;
      flex-direction: column;
      gap: rem(12.5);
    }
  }
}

@media screen and (max-width: 1250px) {
  .tab-content.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem, 100%), 1fr));
    gap: rem(20);
  }
}