@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';

.accordion {
  display: flex;
  flex-direction: column;
  gap: rem(60);
}

.accordion__item {
  display: flex;
  flex-direction: column;
  gap: rem(10);
}

.accordion__question {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: rem(10);
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  i {
    font-size: rem(20);
  }

  p {
    color: var(--text-1);
    font-weight: 700;
  }
}

.accordion__question.open p {
  font-weight: 700;
}

.accordion__question.open i {
  transform: rotate(90deg);
  color: var(--ancent);
}

.accordion__content {
  display: flex;
  padding: rem(20);
  background: var(--card);
  border-radius: rem(10);
}

.accordion__collapse {
  transition: height 300ms ease;
}

.accordion__collapse.collapse {
  display: none;
}

.accordion__collapse.collapsing {
  height: 0;
  overflow: hidden;
}

.accordion__collapse.open {
  display: block;
}

@media screen and (max-width: 1250px) {  
 
  .accordion__question {
    display: flex;    
    align-items: start;
    gap: rem(10);
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
  
    i {
      font-size: rem(20);
    }
  
    p {
      color: var(--text-1);
      font-weight: 700;
    }
  }
}