@import 'mixin';
@import 'variables';
@import 'function';
@import 'reset';

footer {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  bottom: 0;
  left: 50%;
  margin: 0 auto rem(25);
  border-radius: 9999px;
  background: var(--menu);
  backdrop-filter: blur(50px);
  align-items: center;
  width: 100%;
  max-width: 1250px;
  padding: rem(20);
  margin-top: rem(200);   

  .hero__paragraph-btns-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    padding: rem(12) rem(16);
    color: var(--text-1);
    font-size: rem(16);
    font-weight: 700;
    background-color: var(--btn);
    border-radius: rem(100);
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: rem(20);

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: rem(7) rem(8);
    color: var(--text-1);
    background-color: var(--btn);
    border-radius: 9999px;
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }

  &-icon {
    font-size: rem(20);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1250px) {
  
  footer {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    bottom: 0;
    left: 50%;
    margin: 0 auto rem(25);
    border-radius: rem(10);
    background: var(--menu);
    backdrop-filter: blur(50px);
    align-items: center;
    width: 100%;
    max-width: 1250px;
    padding: rem(20);
    margin-top: rem(100); 
    
  }
}