@import 'mixin';
@import 'variables';
@import 'function';
@import 'reset';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1220px;
  width: 90%;
  padding: rem(20);
  top: 0;
  margin: rem(25) auto;
  left: 50%;
  transform: translateX(-50%);
  background: var(--menu);
  backdrop-filter: blur(50px);
  z-index: 9999;
  border-radius: 9999px;
  position: fixed;
  transition: all 0.3s ease-in-out;
}

.menu-bt {
  display: none;

  .fa-solid {
    color: var(--text-1);
    font-size: rem(20);
  }
}

.logo {
  width: rem(36);
  height: rem(36);
  transform: scale(0);
}

.animate-logo {
  transition: 2s .5s;
  transform: scale(1) rotate(2160deg);
}

.nav {
  &-menu {
    display: flex;
    flex-direction: row;
    gap: rem(40);
    align-items: center;
  }

  &-menu__link {
    font-size: rem(20);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      top: rem(30);
      bottom: 0;
      left: 0;
      background: var(--ancent);
      transition: all 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.nav-menu__link.active {
  color: var(--ancent);
  font-weight: 700;
}

.toggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--btn);
  transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);

  &:hover {
    transform: translateY(-2px);
    background-color: (var(--btn-hover));
  }

  input {
    position: absolute;
    opacity: 0;
  }

  .fa-moon {
    color: var(--text-1);
    font-size: rem(20);
    position: absolute;
    transform: scale(0);
    transition: 1s ease;
  }

  input:checked~.fa-moon {
    transform: scale(1) rotate(360deg);
    transition-delay: .8s;
  }

  .fa-sun {
    color: var(--text-1);
    font-size: rem(20);
    transition: 1s ease;
    transition-delay: 0.8s;
  }

  input:checked~.fa-sun {
    transform: rotate(360deg) scale(0);
    transition-delay: 0s;
  }
}

@media screen and (max-width: 1250px) {
  .nav-menu {
    display: none;
  }

  .menu-bt {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--btn);
    cursor: pointer;
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);

    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }
}

