@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';

.section-hero {
  height: 70vh;
  display: flex;
  flex-direction: row;
  gap: rem(100);
  max-width: rem(1220);
  margin: 0 auto;
  margin-top: rem(200);

  picture {
    width: 600px;
    height: auto;
    align-self: start;
    background: var(--bg);
    border-radius: rem(10);
    overflow: hidden;
  
    img {
      border-radius: rem(10);
      height: 100%;
      max-height: inherit;
      max-width: inherit;
      min-width: inherit;
      object-fit: cover;
      object-position: center;
      width: inherit;
    }
  }
  
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);
    padding: rem(12) rem(16);
    color: var(--text-1);
    background-color: var(--btn);
    border-radius: rem(100);
    transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
    font-size: rem(16);
    font-weight: 700;
    width: fit-content;
  
    &:hover {
      transform: translateY(-2px);
      background-color: (var(--btn-hover));
    }
  }
  
  img,
  picture {
    display: block;
    max-width: 100%;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(50);
  }
  
  &__paragraph {
    display: flex;
    flex-direction: column;
    gap: rem(25);
  
  }
  
  hr {
    border: 1px solid var(--ancent-lighter);
  }
}

@media screen and (max-width: 1250px) {

  .section-hero {
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: rem(50);
    max-width: rem(1220);
    margin: 0 auto;
    margin-top: rem(150);
  
    picture {
      width: 300px;
      height: 300px;    
      background: var(--bg);
      border-radius: rem(10);
      overflow: hidden;
    
      img {
        border-radius: rem(10);      
      }
    }
    
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: rem(10);
      padding: rem(12) rem(16);
      color: var(--text-1);
      background-color: var(--btn);
      border-radius: rem(100);
      transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
      font-size: rem(16);
      font-weight: 700;
      width: fit-content;
    
      &:hover {
        transform: translateY(-2px);
        background-color: (var(--btn-hover));
      }
    }
    
    img,
    picture {
      display: block;
      max-width: 100%;
    }
    
    &__content {
      display: flex;
      flex-direction: column;
      gap: rem(25);
    }
    
    &__paragraph {
      display: flex;
      flex-direction: column;
      gap: rem(25);
    
    }  
    
  }
}