@import 'function';

.container {
  display: flex;
  flex-direction: column;
  gap: rem(25);
  max-width: rem(1220);
  margin: 0 auto; 
  margin-top: rem(200); 
}

.section-header{
  display: flex;
  flex-direction: column;

  p{
    margin-top: -12.5px;
  }
}
