@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';

#progress {
  position: fixed;
  background: var(--ancent);
  z-index: 1000;
  bottom: 5%;
  right: 2.5%;
  width: 50px;
  height: 50px;
  display: none;
  place-items: center;
  border-radius: 50%;
  color: var(--ancent);
  cursor: pointer;

  i {
    color: var(--white);
  }
}

#progress-value {
  display: grid;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background: var(--bg);
  border-radius: 50%;
  color: var(--ancent-lighter);
  place-items: center;
  font-size: rem(24);
}