*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*::before,
*::after{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html{
  scroll-behavior: smooth;
}

ul, ol{
  list-style: none;
}

a{
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

p a{
  display: inline;
}

video, iframe, picture, figure{
  max-width: 100%;
  display: block;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

form, /* input */ select, textarea, button, label{
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

