@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';
@import 'reset';


.container__project {
  display: flex;
  flex-direction: column;
  gap: rem(200);

  .project-section__hero {
    h2 {
      margin-bottom: rem(50);
    }
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: rem(50);

   

    .section__sub-section {      
      margin-top: rem(25);

      ol {
        list-style-type: decimal;
        margin-left: rem(25);
        margin-top: rem(50);

        li {
          margin-bottom: rem(12.5);
        }
      }

      .personas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: rem(100);
        width: 100%;
        margin-top: rem(50);

        .user-persona {
          width: 100%;

          &__header {
            display: flex;
            align-items: center;
            gap: rem(20);

            &-info {
              display: flex;
              flex-direction: column;
              gap: rem(5);
            }
          }

          display: flex;
          flex-direction: column;
          gap: rem(20);
          border-radius: rem(10);
          background: var(--card);
          box-shadow: var(--shadow);
          padding: rem(20);
        }
      }

      .storyMap {
        display: flex;
        justify-content: space-between;
        gap: rem(100);
        margin-top: rem(50);
      }

      .benchmark {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(25);
        margin-top: rem(50);

        a:nth-child(1) {
          grid-column: span 1;
          grid-row: span 2;
        }

        a:nth-child(2) {
          grid-column: span 1;
          grid-row: span 1;
        }

        a:nth-child(3) {
          grid-column: span 1;
          grid-row: span 1;
        }
      }

      .sub-section__grid-desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: rem(100);
      }

      .sub-section__grid-mobile {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: rem(150);
      }

      .sub-section__survey {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        &-header {
          display: flex;
          padding: rem(12*8) rem(24) rem(12) rem(24);
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: rem(12);
          align-self: stretch;
          background: var(--gray-light);
          border-radius: rem(10) rem(10) 0px 0px;
          position: relative;

          .title {
            display: flex;
            align-items: center;
            gap: rem(24);
            align-self: stretch;

            img {
              position: absolute;
              top: rem(12);
              right: 47.55%;
              width: 96px;
            }
          }
        }

        &-body {
          display: flex;
          padding: rem(24);
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: rem(24);
          align-self: stretch;
          background: var(--white);

          .survey-question {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: rem(12);
            align-self: stretch;
            width: fit-content;
          }
        }

        &-footer {
          display: flex;
          padding: rem(12) rem(24);
          justify-content: flex-start;
          align-items: center;
          align-self: stretch;
          border-radius: 0px 0px rem(10) rem(10);
          background: var(--gray-light);
        }

        h3, p{
          color: var(--black);
        }
      }

      .color__container {
        display: flex;
        gap: rem(100);

        &-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: rem(10);
          gap: rem(10);

          .rectangle {
            width: rem(240);
            height: rem(120);
            border-radius: rem(10);  
            
            &-1{
              background-color: var(--senzo-primary);
            }

            &-2{
              background-color: var(--senzo-secondary);
            }
          }
        }
      }

    }  

    &__introduction-info {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: rem(50);
      justify-content: space-between;

      .introduction-info__column {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: rem(10);
      }
    }

    .section__prototype {

      display: flex;
      gap: rem(50);

      .sub-section__btn {  
        width: 20%;      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(20);
        padding: rem(20);
        border-radius: rem(10);
        background: var(--card);
        box-shadow: var(--shadow);

        img {
          width: 48px;
        }

        .prototype-btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          gap: rem(10);
          padding: rem(12) rem(16);
          color: var(--text-1);
          font-size: rem(16);
          font-weight: 700;
          background-color: var(--btn);
          border-radius: rem(100);
          transition: all 0.25s cubic-bezier(1, -1.33, 0, 1.98);
          cursor: pointer;

          &:hover {
            transform: translateY(-2px);
            background-color: (var(--btn-hover));
          }
        }
      }
    }

    .section__navigation {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      gap: rem(25);

      .card-project {
        width: 33%;
      }
    }

    .section__learnings{
      display: flex;
      justify-content: space-between;

      &-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(20);
        padding: rem(20);
        border-radius: rem(10);
        background: var(--card);
        box-shadow: var(--shadow);
        width: 20%;

        i {
          font-size: 24px;
          color: var(--dark-ancent);
        }
      }
    }
  }
}

.project-section__validation {

  img {
    width: 50%;
  }
}

.project-section__siteMap {

  img {
    width: 50%;
  }
}
