@import 'breakpoints';
@import 'font';
@import 'function';
@import 'variables';

h1 {
  font-size: rem(48);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-1);
}

h2 {
  font-size: rem(40);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-1);
}

h3 {
  font-size: rem(24);
  font-weight: 700;
  line-height: 1.2;
  color: var(--text-1);
}

h4 {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1;
  color: var(--text-1);
}

p {
  font-weight: 400;
  color: var(--text-2);
  line-height: 1.2;
}

.--regular-cap {
  font-size: rem(20);
  font-weight: 700;
  text-transform: uppercase;
}

.--regular-bold {
  font-size: rem(20);
  font-weight: 700;
  color: var(--ancent);
}

.--regular {
  font-size: rem(20);
  line-height: 1.2;
}

.--small {
  font-size: rem(16);
}

.--little {
  font-size: rem(12);
}

b {
  color: var(--ancent);
}

.--gentle {
  border: 1px solid var(--ancent-lighter);
}