/*VARIABLES*/

:root {
  --ancent-linear: linear-gradient(90deg, hsla(29, 100%, 60%, 1), hsla(29, 100%, 50%, 1), hsla(29, 100%, 40%, 1));
  --black: #000;
  --white: #fff;
  --gray-dark: #cfcfcf;
  --gray-light: #e6e6e6;
  --senzo-primary: #FF0A44;
  --senzo-secondary: #C1C1C1;

  --dark-bg: hsl(225, 22%, 4%);
  --dark-bg-hover: hsl(225, 22%, 14%);
  --dark-btn: hsl(205, 16%, 30%);
  --dark-btn-hover: hsl(212, 20%, 41%);
  --dark-menu: hsla(213, 19%, 12%, 0.6);
  --dark-card: linear-gradient(90deg, hsl(218, 19%, 12%) 0%, hsl(218, 20%, 8%) 99.91%);
  --dark-card-tag: hsl(218, 19%, 24%);
  --dark-tab: linear-gradient(90deg, hsl(207, 17%, 12%) 0%, hsl(213, 16%, 11%) 99.91%);
  --dark-tab-btn: linear-gradient(90deg, hsl(208, 18%, 21%) 0%, hsl(212, 14%, 18%) 99.91%);
  --dark-ancent: hsl(29, 100%, 66%);
  --dark-ancent-hover: hsl(29, 100%, 76%);
  --dark-ancent-lighter: hsl(225, 22%, 20%);
  --dark-text-ancent: hsl(255, 12%, 18%);
  --dark-text-1: hsl(204, 21%, 91%);
  --dark-text-2: hsl(211, 20%, 76%);
  --dark-text-3: hsl(212, 18%, 71%);
  --dark-shadow: 2px 2px 4px 0px rgba(131, 131, 131, 0.25) inset, -1px -1px 2px 0px rgba(131, 131, 131, 0.05) inset;
  --dark-shadow-hero: 0 0.05em 1em hsl(204, 21%, 91%);

  --light-bg: hsl(210, 50%, 94%);
  --light-bg-hover: hsl(210, 50%, 84%);
  --light-btn: hsl(216, 15%, 76%);
  --light-btn-hover: hsl(208, 17%, 67%);
  --light-menu: hsl(0, 0%, 100%);
  --light-card: linear-gradient(90deg, hsl(210, 36%, 96%) 0%, hsl(207, 39%, 95%) 99.91%);
  --light-card-tag: hsl(210, 46%, 90%);
  --light-tab: linear-gradient(90deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 96%) 99.91%);
  --light-tab-btn: linear-gradient(90deg, hsl(210, 12%, 87%) 0%, hsl(210, 13%, 85%) 99.91%);
  --light-ancent: hsl(29, 100%, 56%);
  --light-ancent-hover: hsl(29, 100%, 46%);
  --light-ancent-lighter: hsl(226, 51%, 78%);
  --light-text-ancent: hsl(0, 3%, 11%);
  --light-text-1: hsl(220, 11%, 24%);
  --light-text-2: hsl(209, 26%, 26%);
  --light-text-3: hsl(0, 0%, 37%);
  --light-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  --light-shadow-hero: 0 0.1em 1em hsl(220, 11%, 24%);

  --bg: var(--dark-bg);
  --bg-hover: (--dark-bg-hover);
  --btn: var(--dark-btn);
  --btn-hover: var(--dark-btn-hover);
  --menu: var(--dark-menu);
  --card: var(--dark-card);
  --card-tag: var(--dark-card-tag);
  --tab: var(--dark-tab);
  --tab-btn: var(--dark-tab-btn);
  --ancent: var(--dark-ancent);
  --ancent-hover: var(--dark-ancent-hover);
  --ancent-lighter: var(--dark-ancent-lighter);
  --text-ancent: var(--dark-text-ancent);
  --text-1: var(--dark-text-1);
  --text-2: var(--dark-text-2);
  --text-3: var(--dark-text-3);
  --shadow: var(--dark-shadow);
  --shadow-hero: var(--dark-shadow-hero);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--light-bg);
    --bg-hover: (--light-bg-hover);
    --btn: var(--light-btn);
    --btn-hover: var(--light-btn-hover);
    --menu: var(--light-menu);
    --card: var(--light-card);
    --card-tag: var(--light-card-tag);
    --tab: var(--light-tab);
    --tab-btn: var(--light-tab-btn);
    --ancent: var(--light-ancent);
    --ancent-hover: var(--light-ancent-hover);
    --ancent-lighter: var(--light-ancent-lighter);
    --text-ancent: var(--light-text-ancent);
    --text-1: var(--light-text-1);
    --text-2: var(--light-text-2);
    --text-3: var(--light-text-3);
    --shadow: var(--light-shadow);
    --shadow-hero: var(--light-shadow-hero);
  }
}

body.dark {
  --bg: var(--dark-bg);
  --bg-hover: (--dark-bg-hover);
  --btn: var(--dark-btn);
  --btn-hover: var(--dark-btn-hover);
  --menu: var(--dark-menu);
  --card: var(--dark-card);
  --card-tag: var(--dark-card-tag);
  --tab: var(--dark-tab);
  --tab-btn: var(--dark-tab-btn);
  --ancent: var(--dark-ancent);
  --ancent-hover: var(--dark-ancent-hover);
  --ancent-lighter: var(--dark-ancent-lighter);
  --text-ancent: var(--dark-text-ancent);
  --text-1: var(--dark-text-1);
  --text-2: var(--dark-text-2);
  --text-3: var(--dark-text-3);
  --shadow: var(--dark-shadow);
  --shadow-hero: var(--dark-shadow-hero);
}

body.light {
  --bg: var(--light-bg);
  --bg-hover: (--light-bg-hover);
  --btn: var(--light-btn);
  --btn-hover: var(--light-btn-hover);
  --menu: var(--light-menu);
  --card: var(--light-card);
  --card-tag: var(--light-card-tag);
  --tab: var(--light-tab);
  --tab-btn: var(--light-tab-btn);
  --ancent: var(--light-ancent);
  --ancent-hover: var(--light-ancent-hover);
  --ancent-lighter: var(--light-ancent-lighter);
  --text-ancent: var(--light-text-ancent);
  --text-1: var(--light-text-1);
  --text-2: var(--light-text-2);
  --text-3: var(--light-text-3);
  --shadow: var(--light-shadow);
  --shadow-hero: var(--light-shadow-hero);
}

/*General - Variables*/
/*btnHover*/
$transition: all 0.5s cubic-bezier(1, -1.33, 0, 1.98);
$transform: translateY(-10%);
$blur: blur(75px);
$radius10: 10px;