@import 'blog';
@import 'breakpoints';
@import 'card-about';
@import 'card-recommended';
@import 'card-testimonial';
@import 'faq';
@import 'font';
@import 'footer';
@import 'function';
@import 'layout';
@import 'menu';
@import 'mixin';
@import 'progress';
@import 'projects';
@import 'reset';
@import 'scrollbar';
@import 'typography';
@import 'variables';

body {
  background: var(--bg);
  color: var(--text-1);
  font-family: var(--font);
  line-height: 1;
  transition: opacity .5s ease-in-out;
}

a {
  text-decoration: none;
  font-size: rem(28);
}

/* Section Welcome */

.section-welcome {
  display: flex;
  gap: rem(50);
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  
  .h2--job {

    position: relative;
    display: inline-block;

    span {
      background: var(--ancent);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;

      &:nth-child(odd) {
        display: inline-block;
        animation: shake .75s forwards;

        &:hover {
          animation: goUp 2s ease-in-out;
        }
      }

      &:nth-child(even) {
        display: inline-block;
        animation: shake-opposite .75s forwards;

        &:hover {
          animation: goDown 0.5s ease-in-out;
        }
      }
    }

  }

  p {
    text-align: center;  
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    margin: 20px 0;
    background-image: var(--ancent-linear)
  }
}

@keyframes goUp {

  0%,
  100% {
    transform: translateY(-10%);
  }
}

@keyframes goDown {

  0%,
  100% {
    transform: translateY(10%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-4px, -2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(2px, 2px);
  }
}

@keyframes shake-opposite {

  0%,
  100% {
    transform: translate(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(2px, 2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-2px, -4px);
  }

}

/* Section Services */
.section-services {
  display: flex;
  flex-direction: column;
}

.section-services__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  gap: rem(20);
}

.section-services__card {
  display: flex;
  padding: rem(20);
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  border-radius: rem(10);
  background: var(--card);
  box-shadow: var(--shadow);

  i {
    font-size: rem(48);
    background: var(--ancent-linear);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  p {
    line-height: 1.4;
  }
}

/* Section Toolstack */
.section-toolstack .section-header {
  margin-bottom: rem(50);
}

.toolstack__list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
  display: flex;

  li {
    background: var(--card);
    border-radius: rem(10);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: rem(10);
    padding: rem(20);
    box-shadow: var(--shadow);
  }

  img {
    width: rem(48);
    height: auto;
    background: var(--ancent-linear);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }


}

.scroller {
  max-width: 1220px;

  &__card{
    background-color: lime;
  }
}

.scroller__card{
  background: lime;
}

.scroller__inner {
  display: flex;
  gap: rem(20);
  padding-block: rem(20);
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - rem(5)));
  }
}