@import 'blog-article';
@import 'blog';
@import 'breakpoints';
@import 'card-about';
@import 'card-recommended';
@import 'card-testimonial';
@import 'development';
@import 'faq';
@import 'font';
@import 'footer';
@import 'function';
@import 'hero';
@import 'layout';
@import 'menu';
@import 'mixin';
@import 'progress';
@import 'projects';
@import 'reset';
@import 'scrollbar';
@import 'services';
@import 'side-list';
@import 'toolstack';
@import 'typography';
@import 'variables';

body {
  background: var(--bg);
  color: var(--text-1);
  font-family: var(--font);
  line-height: 1;
  transition: opacity .5s ease-in-out;
}

a {
  text-decoration: none;
  font-size: rem(28);
}
